.idea
DiscordBotBase.iml
src/main/java/me/inao/discordbot/command/Skid.java
src/main/java/me/inao/discordbot/skidutils/
src/test/
target/
/src/main/java/me/inao/discordbot/buffer/SkidBuffer.java
/generated/log/
config.local.json
/build/
