<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="LogConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="(%d{dd/MM/yyyy-HH:mm:ss.SSS}) [%-5level] %msg%n" />
        </Console>
        <File name="LogFile" fileName="./generated/log/application-${date:ddMMyyyy}.log" immediateFlush="false" append="true">
            <PatternLayout>
                <Pattern>(%d{HH:mm:ss.SSS}) [%-5level] %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="LogConsole" />
            <AppenderRef ref="LogFile"/>
        </Root>
    </Loggers>
</Configuration>